[CaseConfig]
all_run = on
test_case_id = [1,3,4,5]

[EmailConfig]

[DBConfig]

[HttpConfig]
home_url = "http://119.23.241.154:8080"
register_url = "/futureloan/mvc/api/member/register"

[Test_Data]
file_name = "testcase.xlsx"
sheet_name = "testcase"

[Test_Result]
file_name = "test_report/testresult.xlsx"
sheet_name = "testresult"